body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F2F1F0;
    margin: 0;
    padding: 0;
    border: ;
    /* color: white; */
}

.container{
    margin: 0;
    padding: 0;
}

#banner {
    color: darkblue;
}

.container {
    background-color: #F2F1F0;
}

.wrightStateGold {
    color: #E7E3C6;
}

ul {
    list-style-type: none;

}

ul li {
    /* display: inline; */
}

.navbar ul li {
    display: inline;
     
}


.navbar ul li a {
    padding: 20px;
    text-decoration: none;
    background-color: #E7E3C6;
   
}

.navbar ul li a:hover{
    background-color: #AE8643;
}
.navbar ul {
    margin: 0px;
    padding: 20px;
    background-color: #719949;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    
}

.navbar{
    /* text-align: center; */
}

a {
    /* color: black; */
    /* text-decoration: none; */
}